.scroll-container {
    height: 250px;
    background-color: cadetblue;
    overflow: auto;

}

.scroll-container>ul {
    background-color: burlywood;
    margin: 0;
}

.scroll-container>ul>li {
    height: 20px;
}